<title>Admin Dashboard</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<%= render "layouts/stylesheets"%>
<link rel="stylesheet" href="/assets/threestepone.css">
<link rel="stylesheet" href="/assets/threesteptwo.css">


<div class="bg-dark dk" id="wrap">
	<%= render "admins/top"%>
    <%= render :partial => "admins/left", :locals => { :active => 'compose_test' }%>
    <div id="content">
        <div class="outer">
            <div class="inner bg-light lter">
      			<h4>Select Question</h4>
				<hr>
                
               
                
               
                
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 form-box">
                      <form role="form" action="" method="post" class="f1">

                        
                        <div class="f1-steps">
                          <div class="f1-progress">
                              <div class="f1-progress-line" data-now-value="16.66" data-number-of-steps="3" style="width: 16.66%;"></div>
                          </div>
                          <div class="f1-step active">
                            <div class="f1-step-icon"><i class="fa fa-question-circle"></i></div>
                            <p>Pattern 1</p>
                          </div>
                          <div class="f1-step">
                            <div class="f1-step-icon"><i class="fa fa-question-circle"></i></div>
                            <p>Pattern 2</p>
                          </div>
                            <div class="f1-step">
                            <div class="f1-step-icon"><i class="fa fa-question-circle"></i></div>
                            <p>Pattern 3</p>
                          </div>
                        </div>
                        
                        <fieldset>
                            <h4><b>Note : </b> All questions having five marks</h4>
                              <div class="form-group">
                              <label class="" for="f1-first-name">Question : 1</label>
                              <input type="text" name="f1-first-name" class="f1-first-name form-control">
                              </div>
                              <div class="form-group">
                              <label class="" for="f1-first-name">Question : 1</label>
                              <input type="text" name="f1-first-name" class="f1-first-name form-control">
                              </div>
                              <div class="form-group">
                              <label class="" for="f1-first-name">Question : 1</label>
                              <input type="text" name="f1-first-name" class="f1-first-name form-control">
                              </div>
                              <div class="form-group">
                              <label class="" for="f1-first-name">Question : 1</label>
                              <input type="text" name="f1-first-name" class="f1-first-name form-control">
                              </div>
                              <div class="form-group">
                              <label class="" for="f1-first-name">Question : 1</label>
                              <input type="text" name="f1-first-name" class="f1-first-name form-control">
                              </div>
                               
                                
                                <div class="f1-buttons">
                                    <button type="button" class="btn btn-next">Next</button>
                                </div>
                            </fieldset>

                            <fieldset>
                               <h4><b>Note : </b> All questions having ten marks</h4>
                                <div class="form-group">
                              <label class="" for="f1-first-name">Question : 1</label>
                              <input type="text" name="f1-first-name" class="f1-first-name form-control">
                              </div>
                              <div class="form-group">
                              <label class="" for="f1-first-name">Question : 1</label>
                              <input type="text" name="f1-first-name" class="f1-first-name form-control">
                              </div>
                              <div class="form-group">
                              <label class="" for="f1-first-name">Question : 1</label>
                              <input type="text" name="f1-first-name" class="f1-first-name form-control">
                              </div>
                              <div class="form-group">
                              <label class="" for="f1-first-name">Question : 1</label>
                              <input type="text" name="f1-first-name" class="f1-first-name form-control">
                              </div>
                              <div class="form-group">
                              <label class="" for="f1-first-name">Question : 1</label>
                              <input type="text" name="f1-first-name" class="f1-first-name form-control">
                              </div>
                               
                                <div class="f1-buttons">
                                    <button type="button" class="btn btn-previous">Previous</button>
                                    <button type="button" class="btn btn-next">Next</button>
                                </div>
                            </fieldset>

                            <fieldset>
                                <h4><b>Note : </b> All questions having fifteen marks</h4>
                                <div class="form-group">
                              <label class="" for="f1-first-name">Question : 1</label>
                              <input type="text" name="f1-first-name" class="f1-first-name form-control">
                              </div>
                              <div class="form-group">
                              <label class="" for="f1-first-name">Question : 1</label>
                              <input type="text" name="f1-first-name" class="f1-first-name form-control">
                              </div>
                              <div class="form-group">
                              <label class="" for="f1-first-name">Question : 1</label>
                              <input type="text" name="f1-first-name" class="f1-first-name form-control">
                              </div>
                              <div class="form-group">
                              <label class="" for="f1-first-name">Question : 1</label>
                              <input type="text" name="f1-first-name" class="f1-first-name form-control">
                              </div>
                              <div class="form-group">
                              <label class="" for="f1-first-name">Question : 1</label>
                              <input type="text" name="f1-first-name" class="f1-first-name form-control">
                              </div>
                               

                                <div class="f1-buttons">
                                    <button type="button" class="btn btn-previous">Previous</button>
                                    <button type="submit" class="btn btn-submit">Submit</button>
                                </div>
                            </fieldset>
                      
                      </form>
                    </div>
                </div>
                    
           

            </div>
            <!-- /.inner -->
        </div>
        <!-- /.outer -->
    </div>
    <!-- /#content -->
</div>
<!-- /#wrap -->
<footer class="Footer bg-dark dker">
   <p>© 2018.Eduoracle Educational Services Pvt. Ltd. All rights reserved.</p>
</footer>
<!-- /#footer -->
<!-- #helpModal -->
<div id="helpModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<%= render "layouts/javascripts"%>
 <script src="/assets/jquery.backstretch.min.js"></script>
<script src="/assets/retina-1.1.0.min.js"></script>
<script src="/assets/threestep.js"></script>      
