<!-- <!DOCTYPE html>
<html lang="en">
	<head>
		<title>Certificate</title>
		<meta name="viewport" content="width=device-width initial-scale=1">
		<link href="css/bootstrap.css" rel="stylesheet" type="text/css"/>
		<link href="css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
		<link href="css/cert.css" rel="stylesheet" type="text/css"/>
		<link rel="shortcut icon" type="image/png" href="images/edu.png"/>
	</head> -->
	<%= stylesheet_link_tag 'font-awesome.min' %>
	<%= stylesheet_link_tag 'bootstrap' %>
<body>
	<div class="container-fluid">
		<div class="certf">
			<div class="logo">
				<img src="/assets/edu.png" class="img-responsive cust">
			</div>
			<div class="text">
				<h3 class="head">Eduoracle Certificate for qualified students</h3>
				<h2 class="excel">CERTIFICATE OF EXCELLENCE</h2>
				<h5 class="mini">IS HEREBY GRANTED TO</h5>
				<h1 class="name">SUPRIYA RANI</h1>
				<h5 class="mini">GIVEN THIS 18TH OF JULY, 2018 BY EDUORACLE EDUCATIONAL PVT LTD,<br> FOR HER EXCELLENCE IN COMPUTER SCIENCE COURSE. 2018-2019.</h5>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<div class="col-sm-6 col-xs-12">
						<h3 class="authority">KUMAR GAURAV</h3>
						<h5 class="mini1">Head</h5>
					</div>
					<div class="col-sm-6 col-xs-12">
						<h3 class="authority">BALBIR RAJPUT</h3>
						<h5 class="mini1">Teacher</h5>
					</div>
				</div>
			</div>
		</div>
	</div>
	<%= javascript_tag 'jquery-2.1.4.min' %>
	<%= javascript_tag 'bootstrap-3.1.1.min' %>
<!-- </body>
</html> -->