<section class="service" id="service">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="section-title st-center">
					<h3>Get Connected with</h3>
				</div>
				<div class="row">
      				<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="col-md-3 col-sm-6 col-xs-12">
							<div class="st-feature">
								<div class="st-feature-icon"><i class="fa fa-university"></i></div>
								<strong class="st-feature-title">School & College</strong>
								<p>Get authentic and holistic information about schools and colleges</p>
							</div>
						</div>
						<div class="col-md-3 col-sm-6 col-xs-12">
							<div class="st-feature">
								<div class="st-feature-icon"><i class="fa fa-users"></i></div>
								<strong class="st-feature-title">Teaching Professionals</strong>
								<p>Get mentored by the best around you. Shortlist by evaluating demo lectures.</p>
							</div>
						</div>
						<div class="col-md-3 col-sm-6 col-xs-12">
							<div class="st-feature">
								<div class="st-feature-icon"><i class="fa fa-book"></i></div>
								<strong class="st-feature-title">Learning Materials</strong>
								<p>Get a free preview of learning notes from reputed institutes and tutors.</p>
							</div>
						</div>
						<div class="col-md-3 col-sm-6 col-xs-12">
							<div class="st-feature">
								<div class="st-feature-icon"><i class="fa fa-users"></i></div>
								<strong class="st-feature-title">Suppliers & Vendors</strong>
								<p>A collection of pan-India supplies and Vendors catering specifically to education sector.</p>
							</div>
						</div>
    				</div>
				</div>
			</div>
		</div>
	</div>
</section>