	<div id="pictures">
				<span class="overview">IITB Images</span>
				<hr>
				<div class="row imgVid">
					<div class="col-md-3">
					  <div class="thumbnail">
						<a href="/assets/building.jpg" target="_blank">
						  <img src="/assets/building.jpg" alt="Lights" style="width:100%">
						  <div class="caption">
							<p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
						  </div>
						</a>
					  </div>
					</div>
					<div class="col-md-3">
					  <div class="thumbnail">
						<a href="/assets/building.jpg" target="_blank">
						  <img src="/assets/building.jpg" alt="Nature" style="width:100%">
						  <div class="caption">
							<p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
						  </div>
						</a>
					  </div>
					</div>
					<div class="col-md-3">
					  <div class="thumbnail">
						<a href="/assets/building.jpg" target="_blank">
						  <img src="/assets/building.jpg" alt="Fjords" style="width:100%">
						  <div class="caption">
							<p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
						  </div>
						</a>
					  </div>
					</div>
					<div class="col-md-3">
					  <div class="thumbnail">
						<a href="/assets/building.jpg" target="_blank">
						  <img src="/assets/building.jpg" alt="Fjords" style="width:100%">
						  <div class="caption">
							<p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
						  </div>
						</a>
					  </div>
					</div>
				</div>
				<span class="overview">IITB Videos</span>
				<hr>
					<div class="row galVid">
						<div class="col-sm-12">
							<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
								<div class="vidBox">
									<iframe width="100%" height="250"src="https://www.youtube.com/embed/tgbNymZ7vqY?controls=1"></iframe> 
								</div>
							</div>
							<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
								<div class="vidBox">
									<iframe width="100%" height="250"src="https://www.youtube.com/embed/tgbNymZ7vqY?controls=1"></iframe> 
								</div>
							</div>
							<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
								<div class="vidBox">
									<iframe width="100%" height="250"src="https://www.youtube.com/embed/tgbNymZ7vqY?controls=1"></iframe> 
								</div>
							</div>
							<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
								<div class="vidBox">
									<iframe width="100%" height="250"src="https://www.youtube.com/embed/tgbNymZ7vqY?controls=1"></iframe> 
								</div>
							</div>
						</div>
					</div>
			</div>