	<div id="placement" >
				<div class="container">
					<div class="row overviewBox">
						<h3 class="elihe">IIT Bombay Placements 2017</h3>
						<p class="plaDes">Indian Institute of Technology is situated in Mumbai in Maharashtra state of India. Established in 1958, it is accredited from AICTE and it is affiliated to Indian Institute of Technology Bombay. IITB, Mumbai offers 71 courses across 6 streams namely Engineering, Science, Arts, Design, Agriculture, Management and across 13 degrees like B.Tech, B.Tech+M.Tech, BS, B.Des+M.Des, B.Des. IITB campus is spread over 550 Acres. Hostel facility is available for its students. Additional campus facilities such as Audi, Boys Hostel, Canteen, Comp. Lab, Counselling, Fest, Cultural zone, Girls Hostel, Guest house, Gym are also there. Indian Institute of Technology accepts JEE Advanced for admission into Engineering courses and Common Admission Test for admission into Management courses </p>
						<div class="tabOx">
							<div class="table-responsive">          
								<table class="table table-striped">
									<thead>
									  <tr>
										<th>NO. OF COMPANY VISITED</th>
										<th>NUMBER OF STUDENTS PLACED</th>
										<th>TOTAL NUMBER OF STUDENTS</th>
										<th>YEAR</th>
									  </tr>
									</thead>
									<tbody>
									  <tr>
										<td>B.Tech in Aerospace Engineering</td>
										<td>Doe</td>
										<td>john@example.com</td>
										<td>Doe</td>
									  </tr>
									  <tr>
										<td>B.Tech in Aerospace Engineering</td>
										<td>Moe</td>
										<td>mary@example.com</td>
										<td>Doe</td>
									  </tr>
									  <tr>
										<td>B.Tech in Aerospace Engineering</td>
										<td>Dooley</td>
										<td>july@example.com</td>
										<td>Doe</td>
									  </tr>
									  <tr>
										<td>B.Tech in Aerospace Engineering</td>
										<td>Dooley</td>
										<td>july@example.com</td>
										<td>Doe</td>
									  </tr>
									  <tr>
										<td>B.Tech in Aerospace Engineering</td>
										<td>Dooley</td>
										<td>july@example.com</td>
										<td>Doe</td>
									  </tr>
									  <tr>
										<td>B.Tech in Aerospace Engineering</td>
										<td>Dooley</td>
										<td>july@example.com</td>
										<td>Doe</td>
									  </tr>
									  <tr>
										<td>B.Tech in Aerospace Engineering</td>
										<td>Dooley</td>
										<td>july@example.com</td>
										<td>Doe</td>
									  </tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>