<div class='nested-fields'>
    <div class="field">
      <%#= f.label :course_name %>
      <%= ff.text_field :course_name %>
    </div>
    <%= link_to_remove_association "Remove Course",ff %>
</div>